.App {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* centra verticalmente */
  align-items: center;      /* centra horizontalmente */
  min-height: 100vh;        /* usa toda la altura de la pantalla */
  background-color: #f3f3f3;
  font-family: sans-serif;
  padding: 2rem;
}

.app-container {
  padding: 2rem;
  background-color: #f4f4f4;
  min-height: 100vh;
  font-family: sans-serif;
}

input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 400px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

ul {
  list-style: none;
  padding: 0;
  max-width: 600px;
  width: 100%;
}

li {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.1);
}

h1 {
  margin-bottom: 1rem;
  color: #333;
}